__pycache__/
*.pyc
*.pyd
*.pyo
*.pyd
can/
# demo_inputs/
# demo_outputs_patchcore/
# demo_outputs_efficientad/
# dashboard_outputs/
venv/
env/
*.log
# results/
# runs_patchcore/
# runs_efficientad/
datasets/
